experiments
_saved_well_matrices
*.png
*.pyc
.DS_Store
rm_pngs.sh
run_batch_adapt_thresh.sh
data
temp_bash_scripts
__pycache__
processed_folders.txt
temp*
old_configs
no_meta_yml.txt
*__pycache__*
*venv*
_full_tray_imgs
_indiv_well_imgs
_full_tray_npz
training_ml/dataset.npz
_temp_code
training_ml/ml_classifier_train_results.txt
training_ml/ml_regressor_train_results.txt
labelling/files_uploaded.txt
training_ml/dist_info.txt
training_ml/*.txt
training_ml/*.csv
training_ml/txt_files
training_ml/shap_plot.pdf
training_ml/mistake_urls
*slurm*
training_ml/logs
dataset_warmstart.npz
create_covid_dataset/high_disagreements.txt
create_covid_dataset/labels_info.txt
create_covid_dataset/relabelling.json
create_covid_dataset/relabel.csv
training_ml/summary_plot*
labelling/label_update_dict.json
configs/ml_test_config_*
training_ml/results.npz
smoothed_plots
variational_inference
ngboost_info
training_ml/old_reports
configs/gridsearch_config
training_ml/feat_importance_plot*
*dataset*npz
*.xlsx